@model  BigSchool_1.ViewModels.CourseViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>
    <ul class="course">
        @foreach (var course in Model.UpcomingCourses)
        {
            <li style="list-style: none">
                <div class="date">
                    <div class="month" style="background-color: aqua; width: 60px; text-align: center; color:black; border-radius: 8px">@course.DateTime.ToString("MM")</div>
                    <div class="day" style="background-color: aqua; width: 60px; text-align: center; color:black; border-radius: 8px">@course.DateTime.ToString("dd")</div>
                </div>
                <div class="details">
                    <span class="lectuner" style="color : red">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <button class="btn btn-default btn-sm js-toggle-follow data-user-id=@course.LecturerId">Follow</button>
                        }
                    </span>
                    <span class="category" style="color : red">
                        @course.Category.Name
                    </span>
                    @if (Model.ShowAction)
                    {
                        <button data-source-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going?</button>
                    }
                </div>
            </li>
        }
    </ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("something wrong!");
                    });
            });
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Theo dõi");
                    })
                    .fail(function () {
                        alert("Some thing wrong!");
                    })
            }
            });
    </script>
}



